<app-page-layout>
	<table style="width: 100%">
		<thead>
			<tr>
				<th style="text-align: left">ID</th>
				<th style="text-align: left">Event Name</th>
				<th style="text-align: left">Location</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let event of events">
				<td>{{ event.id }}</td>
				<td>
					<div *ngIf="editMode[event.id]">
						<td><input [(ngModel)]="event.name" /></td>
					</div>
					<div *ngIf="!editMode[event.id]">
						<td>{{ event.name }}</td>
					</div>
				</td>
				<td>
					<div *ngIf="editMode[event.id]">
						<td><input [(ngModel)]="event.location" /></td>
					</div>
					<div *ngIf="!editMode[event.id]">
						<td>{{ event.location }}</td>
					</div>
				</td>
				<td><button (click)="editEvent(event)">edit</button></td>
				<td><button (click)="saveEvent(event)">save</button></td>
				<td><button (click)="removeEvent(event.id)">delete</button></td>
			</tr>
		</tbody>
	</table>
	<app-event-form></app-event-form>
</app-page-layout>
