<app-page-layout>
	<table style="width: 100%">
		<thead>
			<tr>
				<th style="text-align: left">ID</th>
				<th style="text-align: left">Distance</th>
				<th style="text-align: left">Time</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let goal of goals">
				<th style="text-align: left">{{ goal.id }}</th>
				<td style="text-align: left">{{ goal.distance }}</td>
				<td style="text-align: left">{{ goal.time }}</td>
				<td><button (click)="removeGoal(goal.id)">delete</button></td>
			</tr>
		</tbody>
	</table>
	<app-goal-form></app-goal-form>
</app-page-layout>
