<app-page-layout>
	<table style="width: 100%">
		<thead>
			<tr>
				<th style="text-align: left">ID</th>
				<th style="text-align: left">Distance</th>
				<th style="text-align: left">Time</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let goal of goals">
				<td style="text-align: left">{{ goal.id }}</td>
				<td>
					<div *ngIf="editMode[goal.id]">
						<td>
							<select required [(ngModel)]="goal.distance">
								<option *ngFor="let distance of distances" [value]="distance">
									{{ distance }}
								</option>
							</select>
						</td>
					</div>
					<div *ngIf="!editMode[goal.id]">
						<td>
							{{ goal.distance }}
						</td>
					</div>
				</td>
				<td>
					<div *ngIf="editMode[goal.id]">
						<td>
							<input [(ngModel)]="goal.time" />
						</td>
					</div>
					<div *ngIf="!editMode[goal.id]">
						<td>{{ goal.time }}</td>
					</div>
				</td>
				<td><button (click)="editGoal(goal)">edit</button></td>
				<td><button (click)="saveGoal(goal)">save</button></td>
				<td><button (click)="removeGoal(goal.id)">delete</button></td>
			</tr>
		</tbody>
	</table>
	<app-goal-form [distances]="distances"></app-goal-form>
</app-page-layout>
