<fieldset class="goal-form">
	<legend>Add New Goal</legend>

	<div class="form-input">
		<label>Distance</label>
		<select required [(ngModel)]="goal.distance">
			<option *ngFor="let distance of distances" [value]="distance">
				{{ distance }}
			</option>
		</select>
	</div>

	<div class="form-input">
		<label>Time</label>
		<input [(ngModel)]="goal.time" />
	</div>

	<div class="form-input">
		<label></label>
		<button class="save-button" (click)="saveNewGoal()">save</button>
	</div>
</fieldset>
